body {
    margin:0;
    padding: 0;
    background-color: #ddd;
}

a {
    color: black;
    text-decoration: none;
}

#root {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    font-family: sans-serif;
}


.left-item {
    margin: 0 10px 0;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    box-shadow: #ccc 3px 3px 5px;
}



.black {
    color: white;
    background-color: #000;
}

nav a{
    color: #555;
    text-decoration: none;
    text-align: left;
    display: block;
    padding: 10px;
}

nav a:hover{
    background-color: #ccc; /*加入动作*/
    color: black;
}

.left-bottom {
    margin-top: 10px;
}

.left-bottom > img {
    width: 100px;
    height: 100px;
}

.left-bottom > p{
    margin: 5px;
    font-size: 15px;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.data > div {
    margin: 5px;
    font-size: 15px;
}

.data > div > a {
    text-align: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: 0;
    font-family: sans-serif;
}

.right-item {
    margin: 0 auto 10px;
    flex-direction: column;
    width: 100%;
    background-color: white;
    box-shadow: #ccc 3px 3px 5px;

}

.title {
    margin: 10px;
    text-align: center;
}

.title > a {
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.title > a:hover {
    text-decoration: underline;
}

.content {
    margin: 25px;
    text-align: left;

}


.readmore > a{
    display: block;
    margin: 20px auto;
    width: 150px;
    text-align: center;
    border: 1px black solid;
    font-size: 25px;
    overflow-x: auto;
    cursor: pointer;
    padding: 0;
}

.readmore > a:hover{
    background-color: black;
    color: white;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page > a:nth-child(1) {
    background-color: #999;
    cursor: text;
}

.page > a {
    width: 40px;
    height: 40px;
    display: block;
    margin: 10px;
    border-top: 3px transparent solid;
    text-align: center;
    font-size: 35px;
}

.page > a:hover {
    border-top: 3px #666 solid;
}



footer {
    text-align: center;
    margin: 5px auto 30px;
}

footer > p{
    margin: 5px;
}